<!-- BEGAIN PRELOADER -->
    <!-- <div id="preloader">
      <div id="status">&nbsp;</div>
    </div> -->
    <!-- END PRELOADER -->
<%= render 'breadcrumbs'%>
<%= render 'doctorsection'%>
<%= render 'countersection'%>