
            
         
     <section id="sliderArea">     
      <div class="top-slider"> 
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/15.jpg" alt="">
          </div>
          <div class="slider-text">
            <p class=" pull-left" style="color:#ee4532" >Suraksha Kidz<i class="fa fa-hand-paper-o" aria-hidden="true"></i> NICU</p>
             
          <!--  <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div> -->
          </div>
        </div>  
      </div>
    </section><br/><br/>




  
    <!-- <section id="sliderArea">
    <div class="container">
      <h3><strong>NICU IN  PARTNERSHIP WITH SURAKSHA KIDZ HOSPITAL</strong></h3>
      <address class="contact-info">
      <p class="pull-right"><span class="fa fa-phone ">9036959536</span>
      <span class="fa fa-envelope">neowomb@gmail.com</span></p></p> -->
     <!--  <span class="fa fa-phone pull-right"></span>9036959536</p> -->
     <!--  </address>
    </div> -->
      <!-- Start slider wrapper -->      
      <!-- <div class="top-slider">
         -->
     
        <!-- Start 2nd slide -->
        <!-- <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/shekar.jpg" alt="">
          </div>
          <div class="slider-text">
            <h3 ><strong>NICU in partnership  with SURAKSHA KIDZ HOSPITAL</strong></h3>
           <h4> <p> <strong>Services Neonatal Team,Pediatric Team,Surgery Team,Dermatology,Medical Team,Neonatal Emergency Service...</strong><br></p></h4>
           <address class="contact-info">
           <p><span class="fa fa-phone">9036959536</span></p>
            <p><span class="fa fa-envelope">neowomb@gmail.com</span></p>
            </address>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div><br/> -->
        <!-- End 2nd slide -->

        <!-- Start Third slide -->
        <!-- <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/7.jpg" alt="">
          </div>
          <div class="slider-text">
            <h2>An<strong> Excellent  Facilities </strong>for you</h2>
            <h4><p>Facilities are  <strong>Neonatal Team,Pediatric Team,Surgery Team,Dermatology,Medical Team</strong></p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div> -->
        <!-- End Third slide -->

        
        <!-- End Fifth slide -->
      <!-- </div> --><!-- /top-slider -->
   <!--  </section>
     -->