 <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6">
            <div class="contact-form">
              <div class="section-heading">
                <h2>Contact Us</h2>
                <div class="line"></div>
              </div>
              <p>Fill out all required Field to send a Message. Please don't spam,Thank you!</p>
              <form class="submitphoto_form">
                <input type="text" class="wp-form-control wpcf7-text" placeholder="Your name">
                <input type="mail" class="wp-form-control wpcf7-email" placeholder="Email address">          
                <input type="text" class="wp-form-control wpcf7-text" placeholder="Subject">
                <textarea class="wp-form-control wpcf7-textarea" cols="30" rows="10" placeholder="What would you like to tell us"></textarea>
               <button class="wpcf7-submit button--itzel" type="submit"><i class="button__icon fa fa-envelope"></i><span>Send Message</span></button>                
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="contact-address">
              <div class="section-heading">
                <h2>Contact Information</h2>
                <div class="line"></div>
              </div>
               <p>NICU in partnership with SURAKSHA KIDZ HOSPITAL,REDDY AND REDDY'S COLONY</p>
              <address class="contact-info">               
                <p><span class="fa fa-home"></span>Mopuri SHUBA SHEKAR REDDY,S/O M SUBBA REDDY,Flat No-D 206,Sri Chakara Eden Greens Apartments, Upadyaya Nagar, Tirupati,Andhra Pradesh-517501</p>
                <p><span class="fa fa-phone"></span>9036959536,7989742875,9591621772</p>
                <!-- <p><span class="fa fa-phone"></span>7989742875</p>
                <p><span class="fa fa-phone"></span>9591621772</p> -->
                <p><span class="fa fa-envelope"></span>neowomb@gmail.com,doctorshekar@gmail.com</p>
              </address>
              <h3>Social Media</h3>
              <div class="social-share">               
               <ul>
                 <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                 <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                 <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                 <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                 <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
             </div>
            </div>
          </div>
        </div>
      </div>
    </section>
