<!--=========== BEGIN Google Map SECTION ================-->
    <section id="googleMap">
      <iframe src="https://maps.google.com/maps?q=Suraksha Kidz Hospital, Reddy & Reddy's Colony, Reddy and Reddy's Colony, Tirupati, Andhra Pradesh, India, &t=&z=14&ie=UTF8&iwloc=&output=embed" width="100%" height="500" frameborder="0" style="border:0"></iframe>
    </section>
    <!--=========== END Google Map SECTION ================-->